/* Grundreset */
* {
  box-sizing: border-box;
}

/* Sida */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #e8eaff;
  color: #000;
  max-height: 100vh;
  
}

/* Innehåll */
.main-section {
	max-width: 1120px;
	padding-left: 5%;
	padding-right: 5%;
	margin: auto;
}

.main-div {
  max-width: 25rem;
  margin: 4rem auto;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Rubrik */
h1 {
  margin-top: 0;
  text-align: left;
  font-size: 1.5rem;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Labels */
label {
  font-size: 0.9rem;
  color: #0a0a0a;
}

/* Inputs */
input {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  outline: none;
  transition: 200ms ease;
}


input:focus {
  border-color: #fff;
  box-shadow: 0 0 0 2px rgba(26, 31, 102, 0.2);
}


/* Knapp */
/* Själva knappen */
button {
	background-color: #111444;
	color: #f5f5f5;
	font-weight: 500;
	margin-top: 1rem;
	margin-bottom: 0rem;
	padding: 0.75rem 1rem 0.75rem 1rem;
	border: 1px solid #1f1f1f;
	border-radius: 0.5rem;
	transition: 300ms ease;
	cursor: pointer;
}

button:hover {
	background-color: #f5f6ff;
	color: #111444;
	border-color: #1a1f66;
}

/* Resultat */
#result {
  display: none;
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-weight: bold;
  color: #027a1e;
  text-align: center;
  text-decoration: underline;
}
